html,
body {
	background-color: white;
	height: 100%;
}

.navbar-custom {
	background-color: green;
	span {
		color: rgb(253, 250, 250);
	}
	a {
		color: rgb(253, 250, 250);
	}
}

.intro-custom {
	background-color: black;
	color: rgb(30, 234, 30);
	font-size: 40px;
}

.about-custom {
	background-color: white;
	font-size: 20px;
	h3 {
		color: rgb(34, 32, 32);
	}
}

.skills-custom {
	background-color: white;
	h3 {
		color: rgb(34, 32, 32);
	}
	h5 {
		color: rgb(34, 32, 32);
	}
}
.projects-custom {
	background-color: white;
	h3 {
		color: rgb(34, 32, 32);
	}
}

.contact-custom {
	background-color: rgb(179, 232, 187);
}

.divider-top {
	height: 60px;
	width: 100%;
}
.divider-bottom {
	height: 60px;
	width: 100%;
}

.project-image {
	width: 40vw;
	height: auto;
}
.project-image-container {
	width: 100%;
}
.buttons {
	a {
		color: darkgreen;
	}
}
.buttons:hover {
	a {
		color: white;
	}
}
.headercolor {
	color: rgb(28, 118, 28);
}

.anchor {
	display: block;
	visibility: hidden;
	height: 70px; /*same height as header*/
	margin-top: -70px; /*same height as header*/
	&.aboutMe {
		height: 100px; /*same height as header*/
		margin-top: -100px; /*same height as header*/
	}
}
